# ==========================================
# 1. IDENTIFICACIÓN DEL PROYECTO
# ==========================================
APP_NAME="Filament Boilerplate"
PROJECT_NAME=boilerplate
VITE_APP_NAME="${APP_NAME}"

# ==========================================
# 2. ENTORNO Y URL
# ==========================================
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_PORT=8090
APP_URL=http://localhost:${APP_PORT}
REDIRECT_HTTPS=false

# ==========================================
# 3. SEGURIDAD Y SESIÓN
# ==========================================
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
CSP_ENABLED=true
BCRYPT_ROUNDS=12

# ==========================================
# 4. LOCALIZACIÓN
# ==========================================
APP_LOCALE=es
APP_TIMEZONE='America/Lima'
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# ==========================================
# 5. BASE DE DATOS
# ==========================================
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=${PROJECT_NAME}
DB_USERNAME=
DB_PASSWORD=
DB_ROOT_PASSWORD=password

# ==========================================
# 6. CACHÉ Y COLAS
# ==========================================
CACHE_STORE=database
# CACHE_PREFIX=
QUEUE_CONNECTION=database
BROADCAST_CONNECTION=log

# ==========================================
# 7. REDIS
# ==========================================
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# ==========================================
# 8. LOGS Y MANTENIMIENTO
# ==========================================
LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database
# PHP_CLI_SERVER_WORKERS=4

# ==========================================
# 9. CORREO
# ==========================================
MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# ==========================================
# 10. ARCHIVOS Y S3
# ==========================================
FILESYSTEM_DISK=local
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# ==========================================
# 11. INFRAESTRUCTURA DOCKER
# ==========================================
PROXY_NETWORK=proxy_net
MEMCACHED_HOST=127.0.0.1

# Docker Host User Mapping
DOCKER_USER=
DOCKER_UID=
DOCKER_GID=
